<div class="simple-calendar">
  <div class="calendar-heading">
      <button><%= link_to t('simple_calendar.previous', default: 'Previous Week'), calendar.url_for_previous_view %></button>
      <span class="calendar-title">Week of <%= date_range.first.strftime("%m/%d/%Y") %> - <%= date_range.last.strftime("%m/%d/%Y") %></span>
      <button><%= link_to t('simple_calendar.next', default: 'Next Week'), calendar.url_for_next_view %></button> 
      <p> </p>
  </div>

  <table class="table table-bordered">
    <thead>
        <tr>
        
        </tr>
      <tr>
          <th></th>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
          
        <% date_range.each_slice(7) do |week| %>
          <tr>
              <th></th>
            <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        
      <% end %>
      </tr>
    </thead>

    <tbody>
        <% for i in 0..10 %>
          <tr>
              <td ><center><%=hours[i]%></center></td>
          </tr>
              
          <tr>
          <% date_range.each_slice(7) do |week| %>
              <th></th>
            <% week.each do |day| %>
              <% flag = false %>
              <% CalendarEvent.where(host: current_user.email).find_each do |event| %>
                  <% if day.day.to_i == event.day.to_i  %> 
                    <% if event.meridiem == "AM" %>
                      <% if i+8 == event.hour.to_i %>
                        <td><%= event.name %></td>
                        <% flag = true %>
                      <% end %>
                    <% elsif event.meridiem == "PM" && event.hour == "12"%>
                      <% if i+8 == event.hour.to_i %>
                        <td><%= event.name %></td>
                        <% flag = true %>
                      <% end %>
                    <% else %>
                      <% if i+8 == event.hour.to_i + 12 %>
                        <td><%= event.name %></td>
                        <% flag = true %>
                      <% end %>
                    <% end %>
                  <% end %>
              
            
              <% end %>
              <% if flag == false %>
                <td></td>
              <% end %>
          <% end %>
            
          </tr>
        <% end %>
      <% end %>
    </tbody>
      
  </table>
    
</div>
