<div class="simple-calendar">

  <!-- week chagne header -->
  <div class="calendar-heading">
      <button id="white-button"><%= link_to t('simple_calendar.previous', default: 'Previous Week'), calendar.url_for_previous_view %></button>
      <span class="calendar-title">Week of <%= date_range.first.strftime("%m/%d/%Y") %> - <%= date_range.last.strftime("%m/%d/%Y") %></span>
      <button id="white-button"><%= link_to t('simple_calendar.next', default: 'Next Week'), calendar.url_for_next_view %></button>
      <p> </p>
  </div>

  <table class="table table-bordered">
    <!-- Table header (Monday-Sunday && Dates) -->
    <thead>
        <tr>
          <th></th>
            <% date_range.slice(0, 7).each do |day| %>
              <th><%= t('date.abbr_day_names')[day.wday] %></th>
            <% end %>

            <% date_range.each_slice(7) do |week| %>
                <tr class="date-header-row">
                    <th></th>
                    <% week.each do |day| %>
                      <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                        <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                          <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
                        <% else %>
                          <% block.call day, sorted_events.fetch(day, []) %>
                        <% end %>
                      <% end %>
                    <% end %>
                </tr>
            <% end %>
        </tr>
    </thead>

    <tbody>
        <% hours = ['12:00 am','1:00 am','2:00 am','3:00 am','4:00 am','5:00 am','6:00 am','7:00 am','8:00 am','9:00 am','10:00 am','11:00 am','12:00 pm','1:00 pm','2:00 pm','3:00 pm','4:00 pm','5:00 pm','6:00 pm','7:00 pm','8:00 pm','9:00 pm','10:00 pm','11:00 pm'] %>
        <% nums_to_months = {1 => "January", 2 => "February", 3 => "March", 4 => "April", 5 => "May", 6 => "June", 7 => "July", 8 => "August", 9 => "September", 10 => "October", 11 => "November", 12 => "December"} %>
        <% months_to_nums = {"January" => 1, "February" => 2, "March" => 3, "April" => 4, "May" => 5, "June" => 6, "July" => 7, "August" => 8, "September" => 9, "October" => 10, "November" => 11, "December" => 12} %>

        <% require 'set' %>
        <% require 'algorithm_helper.rb' %>
        <% require 'months_conversion_helper.rb' %>
        <% homepage = request.original_url.include? "welcome/homepage" %>
        <% time_slots = request.original_url.include? "time_slots_lists?group" %>
        <% event_list = [] %>

        <!-- homepage -->
        <% if homepage %>
            <% event_list = all_events(current_user.id).to_a %>

        <!-- not homepage so get group events instead of all -->
        <% else %>
          <% if current_group == nil %>
            current group does not exist. Here are the group ids for the current user: <%= current_user.group_ids %>

          <% else %>
            <% event_list = CalendarEvent.where(:group => current_group.id).find_each.to_a %>
            <% event_list = [] %>
            <% sub_list = [] %>
            <% current_group.group_members.each do |user_id| %>
              <% sub_list = all_events(user_id).to_a %>
              <% sub_list.each do |event| %>
                <% event_list.push(event) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if current_user and current_user.start_time and current_user.end_time %>
          <% start_time = current_user.start_time %>
          <% end_time = current_user.end_time %>

          <% if current_user.start_md == "PM" and start_time < 12 %>
            <% start_time = start_time + 12 %>
          <% elsif current_user.start_md == "AM" and start_time == 12 %>
            <% start_time = 0 %>
          <% end %>

          <% if current_user.end_md == "PM" and end_time < 12 %>
            <% end_time = end_time + 12 %>
          <% elsif current_user.end_md == "AM" and end_time == 12 %>
            <% end_time = 0 %>
          <% end %>

        <% else %>
          <% start_time = 0 %>
          <% end_time = 23 %>
        <% end %>

        <% time_range = [start_time,end_time] %>
        <% for i in start_time..end_time-1 %>
          <tr>
            <!-- hours on lefthand side-->
            <% date_range.each_slice(7) do |week| %>
              <td><center><%=hours[i]%></center></td>
              <% week.each do |day| %>
                <% result = "" %>

                <% if result == "" %>
                  <% event_list.each do |event| %>

                    <!-- checking if prioritized slots should be printed -->
                    <% j_outer_loop = false %>
                    <% event_list.each do |event_sub| %>
                      <% if event.day == event_sub.day and event.month == event_sub.month and event.year == event_sub.year and event != event_sub %>
                        <% for j in event.start_time.to_i..event.end_hour.to_i-1 %>
                          <% if j == event_sub.start_time.to_i or j == event_sub.end_hour.to_i %>
                            <% if event.priority.to_i > event_sub.priority.to_i %>
                              <% j_outer_loop = true %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if j_outer_loop %>
                      <% next %>
                    <% end %>

                    <% if day.month == event.month.to_i and day.year == event.year.to_i %>
                      <% result = event.print_event(day.day.to_i,i,event) %>
                      <% if result != "" %>
                        <!-- homepage -->
                        <% if homepage %>
                          <td style="background-color: #c9dbe8;">
                            <%= link_to result, edit_calendar_event_path(event.id) %>
                          </td>
                        <!-- time_slots page -->
                        <% elsif time_slots %>
                          <td id="not-available">
                            <%= result %>
                          </td>
                        <!-- Every other pages should be same -->
                        <% else %>
                          <td class="taken">
                            <%= result %>
                          </td>
                        <% end %>
                        <% break %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>

              <!-- there were no events so result is still empty -->
              <% if result == "" %>
                <% found_events = [] %>
                <% if homepage %>
                  <% id_list = [current_user.id] %>
                <% else %>
                  <% id_list = current_group.group_members %>
                <% end %>

                <% id_list.each do |member_id| %>
                  <% events_today = CalendarEvent.where(:group => nil, :host => current_user.id, :year => day.year.to_s, :month => get_month(day.month).to_s, :day => day.day.to_s) %>
                  <% group_list = current_user.group_ids %>
                  <% group_list.each do |group| %>
                    <% events_today2 = CalendarEvent.where(:group => group, :year => day.year.to_s, :month => day.month.to_s, :day => day.day.to_s) %>
                    <% events_today = events_today.to_a + events_today2.to_a %>
                  <% end %>

                  <% if events_today %>
                    <% found_events = events_today.to_a %>
                  <% end %>
                <% end %>

                <% time_range = get_time_range(found_events) %>

                <% if homepage %>
                  <% if time_range.include?(i) %>
                    <td class="taken"></td>
                  <% else %>
                    <td></td>
                  <% end %>

                <% elsif time_slots %>
                  <% if time_range.include?(i) %>
                    <td id="not-available"></td>
                  <% else %>
                    <td></td>
                  <% end %>

                <% else %>
                  <% if time_range.include?(i) %>
                      <td class="taken"></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
