<div class="simple-calendar">
    
  <div class="calendar-heading">
      <button><%= link_to t('simple_calendar.previous', default: 'Previous Week'), calendar.url_for_previous_view %></button>
      <span class="calendar-title">Week of <%= date_range.first.strftime("%m/%d/%Y") %> - <%= date_range.last.strftime("%m/%d/%Y") %></span>
      <button><%= link_to t('simple_calendar.next', default: 'Next Week'), calendar.url_for_next_view %></button> 
      <p> </p>
  </div>

  <table class="table table-bordered">
      
    <thead>
        
<!--
        <tr>
        </tr>
-->
      
        <tr>
            
            <th></th>

            <% date_range.slice(0, 7).each do |day| %>
              <th><%= t('date.abbr_day_names')[day.wday] %></th>
            <% end %>

            <% date_range.each_slice(7) do |week| %>

                <tr class="date-header-row">

                    <th></th>
                    <% week.each do |day| %>
                    
                        <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                          <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                            <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
                          <% else %>
                            <% block.call day, sorted_events.fetch(day, []) %>
                          <% end %>
                        <% end %>
                      <% end %>

                </tr>

            <% end %>
        
        </tr>
      
    </thead>

    <tbody>
        <% homepage = request.original_url.include? "welcome/homepage" %>
        
        <% if homepage %>
            <% event_list = CalendarEvent.where(host: current_user.id).find_each %>
        <% else %>
            <% event_list = [] %>
            <% id_list = [current_user.id] %>
        
            <% current_group.group_members.each do |member| %>
              <% id_list.push(member.id) %>
            <% end %>
            
            <% id_list.each do |member_id| %>
              <% member_events = CalendarEvent.where(host: member_id).find_each %>
              <% member_events.each do |event| %>
                <% event_list.push(event) %>
              <% end %>
           <% end %>
           
        <% end %>
            
        
        <% for i in 0..23 %>
          <% time_range = [0,23] %>
          <tr>
          <% date_range.each_slice(7) do |week| %>
              <td ><center><%=hours[i]%></center></td>
            <% week.each do |day| %>
              <% result = "" %>
              <% event_list.each do |event| %>
                  <% if day.month == get_month(event.month)  && day.year == event.year.to_i%>
                      <% result = event.print_event(day.day.to_i,i,event) %>
                      <% if result != "" %>
                        <% if homepage %>
                          <td><button><%= link_to result, edit_calendar_event_path(event.id) %></button></td>
                        <% else %>
                          <td></td>
                        <% end %>
              
                        <% break %>
                      <% end %>
                  <% end %>
                  
              <% end %>
              <% if result == "" %>
                <% found_events = [] %>
                <% if !homepage %>
                  <% id_list.each do |member_id| %>
              
                    <% events_today = CalendarEvent.where(["year = ? and month = ? and day = ? and host = ?",day.year.to_s, get_month(day.month.to_i),day.day.to_s,member_id]).find_each %>
              
                    <% events_today.each do |event| %>
                      <% found_events.push(event) %>
                    <% end %>
                  <% end %>
              
                  <% time_range = get_time_range(found_events) %>
                <% end %>

                <% if homepage %>
                  <td></td>
                <% elsif i >= time_range.first && i < time_range.last %>
                  <td></td>
                <% elsif time_range.first == time_range.last && time_range.first == 0 %>
                  <td></td>
                <% elsif i >= time_range.first && time_range.last==23 %>
                  <td></td>
                <% elsif time_range.first == -1 && time_range.last == -1 %>
                  <td><button></button></td>
                <% else %>
                  <td><button></button></td>
                <% end %>
              <% end %>
          <% end %>
            
          </tr>
        
            <tr>
                  <td></td>
                  <% for j in 0..6 %>
                    <td></td>
                  <% end %>
            </tr>
        
        
        <% end %>
        
      <% end %>
    </tbody>
      
  </table>
    
</div>
