<div class="simple-calendar">
  <div class="calendar-heading">
      <button><%= link_to t('simple_calendar.previous', default: 'Previous Week'), calendar.url_for_previous_view %></button>
      <span class="calendar-title">Week of <%= date_range.first.strftime("%m/%d/%Y") %> - <%= date_range.last.strftime("%m/%d/%Y") %></span>
      <button><%= link_to t('simple_calendar.next', default: 'Next Week'), calendar.url_for_next_view %></button> 
      <p> </p>
  </div>

  <table class="table table-bordered">
    <thead>
        <tr>
        
        </tr>
      <tr>
          <th></th>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
          
        <% date_range.each_slice(7) do |week| %>
          <tr>
              <th></th>
            <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        
      <% end %>
      </tr>
    </thead>

    <tbody>
        
        <% event_list = CalendarEvent.where(host: current_user.email).find_each %>
        
        <% for i in 0..10 %>
          <tr>
              <td ><center><%=hours[i]%></center></td>
          </tr>
        
          <tr>
          <% date_range.each_slice(7) do |week| %>
              <th></th>
            <% week.each do |day| %>
              <% result = "" %>
              <% event_list.each do |event| %>
                  <% result = event.print_event(day.day.to_i,i+8,event) %>
                  <% if result != "" %>
              <td><button><%= link_to result, edit_calendar_event_path(event.id) %></button></td>
                  <% end %>
              <% end %>
              <% if result == "" %>
                <td></td>
              <% end %>
          <% end %>
            
          </tr>
        <% end %>
      <% end %>
    </tbody>
      
  </table>
    
</div>
